span{
    border: 3px #3585fb solid;
    width: 450px;
    margin-top: 10px;
    padding: 10px;
    display: inline-flex;
    border-radius: 15px;
}

button{
    background: url("arrow-29261_960_720.png") no-repeat top / cover;
    width: 50px;
    margin-right: 10px;
}



